@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Light.woff2") format("woff2"), url("../fonts/Lato/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url("../fonts/Lato/Lato-HairlineItalic.woff2") format("woff2"), url("../fonts/Lato/Lato-HairlineItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Black.woff2") format("woff2"), url("../fonts/Lato/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-LightItalic.woff2") format("woff2"), url("../fonts/Lato/Lato-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url("../fonts/Lato/Lato-Hairline.woff2") format("woff2"), url("../fonts/Lato/Lato-Hairline.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-BlackItalic.woff2") format("woff2"), url("../fonts/Lato/Lato-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Open Sans';
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 770px;
  }
}

@media screen and (max-width: 990px) {
  .container {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 320px;
  }
}

.img_wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.h_0001 {
  padding: 20px 0;
}

.h_0001 .inner {
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h_0001 .inner nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h_0001 .inner nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h_0001 .inner nav ul li {
  margin: 0 15px;
}

.h_0001 .inner nav ul li a {
  color: #404040;
  font-size: 13px;
}

.h_0001 .inner nav .phone {
  margin: 0 15px;
}

.h_0001 .inner nav .phone .icon-phone-call {
  color: #000;
}

.h_0001 .inner button a {
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 15px;
  line-height: 22px;
  background: linear-gradient(90.21deg, #1CB5E0 2.33%, rgba(33, 124, 183, 0.947895) 47.96%, rgba(38, 61, 138, 0.89) 98.67%);
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
}

.h_0001 .inner .humburger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .h_0001 .inner {
    padding: 0 0;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .h_0001 .inner nav ul {
    position: absolute;
    top: -1000%;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #D8D8D8;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .h_0001 .inner nav ul.active {
    top: 45px;
  }
  .h_0001 .inner nav ul li {
    padding: 20px 0;
    margin: 0px 85px;
  }
  .h_0001 .inner .hamburger {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: block;
    width: 41px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .h_0001 .inner .hamburger::before,
  .h_0001 .inner .hamburger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
  }
  .h_0001 .inner .hamburger span {
    width: 100%;
    height: 4px;
    background-color: #000;
  }
  .h_0001 .inner .hamburger::before {
    top: 0px;
  }
  .h_0001 .inner .hamburger::after {
    bottom: 0px;
  }
  .h_0001 .inner figure.h_logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .h_0001 .inner nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .h_0001 .inner button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 767px) {
  .h_0001 .inner figure.h_logo {
    padding-bottom: 20px;
  }
  .h_0001 .inner nav ul.active {
    top: 125px;
  }
}

.s_0001 .inner {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s_0001 .inner .left {
  margin: 0 60px;
}

.s_0001 .inner .left .img_wrapper {
  width: 505px;
  height: 488px;
}

.s_0001 .inner .left .img_wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
}

.s_0001 .inner .right {
  margin: 0 60px;
  width: 415px;
}

.s_0001 .inner .right h2 {
  font-family: 'Lato';
  font-weight: bold;
  font-size: 42px;
  line-height: 60px;
  color: #303669;
  padding-bottom: 30px;
}

.s_0001 .inner .right p {
  font-size: 18px;
  line-height: 27px;
  color: #212529;
  padding-bottom: 50px;
}

.s_0001 .inner .right .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.s_0001 .inner .right .buttons .button_wrapper .btn {
  display: inline-block;
  cursor: pointer;
  border: 3px solid transparent;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;
  text-transform: uppercase;
  padding: 5px 20px;
  border-radius: 50px;
  color: #000;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}

.s_0001 .inner .right .buttons .button_wrapper .btn.btn_01 {
  background-color: #FF3E81;
  color: #fff;
}

.s_0001 .inner .right .buttons .button_wrapper .btn.btn_01:hover {
  background-color: transparent;
  border: 3px solid #FF3E81;
  color: #FF3E81;
}

.s_0001 .inner .right .buttons .button_wrapper .btn.btn_02 {
  border: 3px solid #000;
}

.s_0001 .inner .right .buttons .button_wrapper .btn.btn_02:hover {
  background-color: transparent;
  border: 3px solid #FF3E81;
  color: #FF3E81;
}

.s_0001 .inner .right .buttons .button_wrapper:first-child {
  margin-right: 30px;
}

@media screen and (max-width: 1200px) {
  .s_0001 .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s_0001 .inner .right {
    width: 100%;
    text-align: center;
  }
  .s_0001 .inner .left .img_wrapper {
    margin-bottom: 75px;
  }
  .s_0001 .inner .right .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .s_0001 .inner .right .buttons .button_wrapper:first-child {
    margin-right: 0;
  }
  .s_0001 .inner .right .buttons .button_wrapper .btn {
    margin: 0 30px;
  }
}

@media screen and (max-width: 990px) {
  .s_0001 .inner .right h2 {
    font-size: 35px;
  }
  .s_0001 .inner .right p {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .s_0001 .inner .right p {
    font-size: 16px;
  }
  .s_0001 .inner .left .img_wrapper {
    width: 400px;
    height: 235px;
  }
}

@media screen and (max-width: 767px) {
  .s_0001 .inner .left .img_wrapper {
    width: 280px;
    height: 226px;
  }
  .s_0001 .inner .right h2 {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 10px;
  }
  .s_0001 .inner .right p {
    max-width: 100%;
    font-size: 14px;
  }
  .s_0001 .inner .right .buttons .button_wrapper .btn {
    margin: 0px 5px;
    padding: 5px 15px;
    font-size: 10px;
  }
}

.s_0002 {
  background-color: #EEECE6;
  overflow: hidden;
}

.s_0002 .innner {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s_0002 .innner .left {
  margin: 0 15px;
  max-width: 475px;
}

.s_0002 .innner .left h2 {
  font-family: 'Lato';
  font-weight: bold;
  font-size: 48px;
  line-height: 63px;
  padding-bottom: 50px;
}

.s_0002 .innner .left p {
  font-size: 17px;
  line-height: 31px;
  color: #262626;
  padding-bottom: 30px;
}

.s_0002 .innner .left .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s_0002 .innner .left .buttons .button_wrapper .btn {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px 20px;
}

.s_0002 .innner .left .buttons .button_wrapper .btn.btn_01 {
  background-color: #ABA9A9;
  color: #fff;
}

.s_0002 .innner .left .buttons .button_wrapper .btn.btn_02 {
  border: 1px solid #000;
  color: #000;
}

.s_0002 .innner .left .buttons .button_wrapper:first-child {
  margin-right: 15px;
}

.s_0002 .innner .right {
  margin: 0 15px;
}

.s_0002 .innner .right .img_wrapper {
  width: 567px;
  height: 715px;
}

@media screen and (max-width: 1200px) {
  .s_0002 .innner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .s_0002 .innner .right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .s_0002 .innner .left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .s_0002 .innner .right .img_wrapper {
    margin-bottom: 30px;
  }
  .s_0002 .innner .left .buttons .button_wrapper:first-child {
    margin-right: 0;
  }
  .s_0002 .innner .left .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .s_0002 .innner .left .buttons .btn {
    margin: 0 15px;
  }
  .s_0002 .innner .left {
    max-width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 990px) {
  .s_0002 .innner .left h2 {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 30px;
  }
  .s_0002 .innner .right .img_wrapper {
    width: 402px;
    height: 507px;
  }
}

@media screen and (max-width: 767px) {
  .s_0002 .innner .right .img_wrapper {
    width: 275px;
    height: 348px;
  }
  .s_0002 .innner .left .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s_0002 .innner .left .buttons .button_wrapper:first-child {
    margin-bottom: 10px;
  }
  .s_0002 .innner .left .buttons .button_wrapper .btn {
    margin: 0 0;
    width: 100%;
  }
  .s_0002 .innner .left h2 {
    font-size: 22px;
    line-height: 35px;
    padding-bottom: 15px;
  }
  .s_0002 .innner .left p {
    font-size: 14px;
  }
  .s_0002 .innner {
    padding: 50px 0;
  }
}

.s_0003 {
  min-height: 781px;
  overflow: hidden;
}

.s_0003 .inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
}

.s_0003 .inner .left {
  padding-top: 250px;
  max-width: 500px;
}

.s_0003 .inner .left h2 {
  font-family: 'Lato';
  font-weight: bold;
  font-size: 55px;
  line-height: 77px;
  letter-spacing: 1.4px;
  color: #333333;
  padding-bottom: 40px;
}

.s_0003 .inner .left p {
  font-size: 17px;
  line-height: 31px;
  color: #404040;
  padding-bottom: 20px;
}

.s_0003 .inner .left .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s_0003 .inner .left .buttons .button_wrapper .btn {
  cursor: pointer;
  display: inline-block;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 10px 25px;
}

.s_0003 .inner .left .buttons .button_wrapper .btn.btn_01 {
  background-color: rgba(230, 186, 74, 0.95);
  border: 1px solid #E9EBF8;
  -webkit-box-shadow: 0px 8px 12px rgba(14, 36, 129, 0.08);
          box-shadow: 0px 8px 12px rgba(14, 36, 129, 0.08);
  color: #fff;
}

.s_0003 .inner .left .buttons .button_wrapper .btn.btn_02 {
  background-color: rgba(255, 255, 255, 0.95);
  color: #1994B7;
  border: 1px solid #E9EBF8;
  -webkit-box-shadow: 0px 8px 12px rgba(14, 36, 129, 0.08);
          box-shadow: 0px 8px 12px rgba(14, 36, 129, 0.08);
}

.s_0003 .inner .left .buttons .button_wrapper:first-child {
  margin-right: 30px;
}

.s_0003 .inner .right {
  position: absolute;
  top: 0;
  right: -650px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.s_0003 .inner .right .img_wrapper {
  width: 1388px;
  height: 781px;
}

.s_0003 .inner .right .img_wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1200px) {
  .s_0003 .inner .right .img_wrapper {
    width: 1043px;
    height: 587px;
  }
  .s_0003 .inner .right {
    position: static;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: -400px;
  }
  .s_0003 .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 50px;
  }
  .s_0003 .inner .left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 40px;
    max-width: 100%;
    text-align: center;
  }
  .s_0003 .inner .left .buttons .button_wrapper:first-child {
    margin-right: 0;
  }
  .s_0003 .inner .left .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .s_0003 .inner .left .buttons .button_wrapper .btn {
    margin: 0 15px;
  }
}

@media screen and (max-width: 990px) {
  .s_0003 .inner .right .img_wrapper {
    width: 897px;
    height: 505px;
  }
  .s_0003 .inner .left h2 {
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 20px;
  }
  .s_0003 .inner .left p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .s_0003 .inner .right .img_wrapper {
    width: 442px;
    height: 249px;
  }
  .s_0003 {
    min-height: 0;
    padding-bottom: 20px;
  }
  .s_0003 .inner .right {
    margin-right: -180px;
  }
  .s_0003 .inner .left h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .s_0003 .inner .left .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s_0003 .inner .left .buttons .button_wrapper .btn {
    width: 100%;
    margin: 0 0;
  }
  .s_0003 .inner .left .buttons .button_wrapper:first-child {
    margin-bottom: 10px;
  }
}

.s_004 {
  padding: 50px 0;
}

.s_004 .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s_004 .items .item {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 20px;
  padding: 50px 10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0.8;
}

.s_004 .items .item .img_wrapper {
  padding-bottom: 20px;
}

.s_004 .items .item .img_wrapper img {
  max-width: 69px;
  height: auto;
}

.s_004 .items .item h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2.5px;
  padding-bottom: 20px;
}

.s_004 .items .item p {
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.s_004 .items .item:hover {
  opacity: 1;
  background: #E6E6E6;
  -webkit-box-shadow: 15px 15px 30px rgba(225, 225, 225, 0.46);
          box-shadow: 15px 15px 30px rgba(225, 225, 225, 0.46);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media screen and (max-width: 767px) {
  .s_004 {
    padding: 20px 0;
  }
}

.s_0005 .container {
  padding-top: 75px;
  padding-bottom: 75px;
}

.s_0005 .inner {
  text-align: center;
}

.s_0005 .inner span {
  display: inline-block;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  color: #F53656;
  padding-bottom: 10px;
}

.s_0005 .inner h2 {
  font-weight: bold;
  font-size: 25px;
  line-height: 54px;
  color: #333333;
  padding-bottom: 15px;
}

.s_0005 .inner > p {
  font-size: 15px;
  line-height: 27px;
  color: #999999;
  max-width: 725px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.s_0005 .inner .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s_0005 .inner .items .item {
  position: relative;
  top: 0;
  width: 230px;
  margin: 10px;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 10px;
  text-align: start;
  border-bottom: 3px solid transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.8;
}

.s_0005 .inner .items .item .top {
  padding-bottom: 20px;
}

.s_0005 .inner .items .item .bottom {
  padding-bottom: 20px;
}

.s_0005 .inner .items .item .bottom h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  padding-bottom: 25px;
}

.s_0005 .inner .items .item .bottom p {
  font-size: 15px;
  line-height: 27px;
  color: #999999;
}

.s_0005 .inner .items .item:hover {
  top: 5px;
  opacity: 1;
  border-bottom: 3px solid #F53656;
}

@media screen and (max-width: 767px) {
  .s_0005 .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .s_0005 .inner span {
    font-size: 11px;
    line-height: 17px;
  }
  .s_0005 .inner h2 {
    font-size: 25px;
    line-height: 25px;
  }
  .s_0005 .inner > p {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 25px;
  }
  .s_0005 .inner .items .item .bottom h3 {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .s_0005 .inner .items .item .bottom p {
    font-size: 13px;
  }
}

.s_0006 .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.s_0006 .inner .line {
  width: 100%;
  height: 1px;
  background: #E8E8E8;
}

.s_0006 .inner h2 {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.s_0006 .inner .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s_0006 .inner .items .item {
  margin: 10px 10px;
  width: 275px;
  background: #FCFCFC;
  border: 1px solid #E0E0E0;
  text-align: center;
}

.s_0006 .inner .items .item .top .img_box_wrapper {
  width: 100%;
}

.s_0006 .inner .items .item .top .img_box_wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.s_0006 .inner .items .item .bottom {
  padding: 0 20px;
}

.s_0006 .inner .items .item .bottom .i_top {
  position: relative;
  top: -40px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

.s_0006 .inner .items .item .bottom .i_top h3 {
  font-size: 16px;
  line-height: 22px;
}

.s_0006 .inner .items .item .bottom .i_top p {
  font-size: 12px;
  line-height: 20px;
  color: #EA2E0D;
}

.s_0006 .inner .items .item .bottom .i_bottom {
  padding-bottom: 20px;
}

.s_0006 .inner .items .item .bottom .i_bottom p {
  font-size: 11px;
  line-height: 20px;
  color: #7E7E7E;
  padding-bottom: 15px;
}

.s_0006 .inner .items .item .bottom .i_bottom .button_wrapper .btn {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#a90329), color-stop(56%, #6d0019));
  background: linear-gradient(to bottom, #a90329 0%, #6d0019 56%);
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  padding: 5px 25px;
}

.s_0007 {
  position: relative;
  padding-bottom: 200px;
  padding-top: 200px;
  min-height: 800px;
  background: #1D2024;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s_0007 .img_bg {
  background: radial-gradient(ellipse farthest-side, rgba(0, 111, 255, 0.15), transparent);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: -15%;
  bottom: 1px;
  left: 0;
  right: 0;
}

.s_0007 .inner {
  overflow: hidden;
  text-align: center;
}

.s_0007 .inner .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.s_0007 .inner .inner_block {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.s_0007 .inner .inner_block .hero {
  position: absolute;
  width: 100%;
  min-height: 800px;
  left: 0;
  top: 0;
}

.s_0007 .inner .inner_block .hero img {
  width: 100%;
  opacity: 1;
  height: auto;
  display: block;
}

.s_0007 .inner .inner_block .hero .left .game_img, .s_0007 .inner .inner_block .hero .right .game_img {
  position: absolute;
}

.s_0007 .inner .inner_block .hero .game_img:nth-child(1), .s_0007 .inner .inner_block .hero .game_img:nth-child(2), .s_0007 .inner .inner_block .hero .game_img:nth-child(3) {
  opacity: 0.4;
  width: 110px;
  display: block;
}

.s_0007 .inner .inner_block .hero .game_img:nth-child(4) {
  width: 130px;
  display: block;
}

.s_0007 .inner .inner_block .hero .game_img:nth-child(5), .s_0007 .inner .inner_block .hero .game_img:nth-child(6) {
  opacity: 0.7;
  width: 180px;
}

.s_0007 .inner .inner_block .hero .game_img:nth-child(7), .s_0007 .inner .inner_block .hero .game_img:nth-child(8) {
  opacity: 0.8;
  width: 220px;
}

.s_0007 .inner .inner_block .hero .left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28vw;
}

.s_0007 .inner .inner_block .hero .left .game_img:nth-child(1) {
  right: -60px;
  top: 650px;
  bottom: auto;
}

.s_0007 .inner .inner_block .hero .left .game_img:nth-child(2) {
  right: 300px;
  top: 250px;
  bottom: auto;
}

.s_0007 .inner .inner_block .hero .left .game_img:nth-child(3) {
  right: 300px;
  top: 500px;
  bottom: auto;
}

.s_0007 .inner .inner_block .hero .left .game_img:nth-child(4) {
  opacity: 0.6;
  right: -40px;
  top: 100px;
  bottom: auto;
}

.s_0007 .inner .inner_block .hero .left .game_img:nth-child(5) {
  right: 250px;
  top: 580px;
  bottom: auto;
  left: auto;
}

.s_0007 .inner .inner_block .hero .left .game_img:nth-child(6) {
  right: 180px;
  top: 120px;
  bottom: auto;
}

.s_0007 .inner .inner_block .hero .left .game_img:nth-child(7) {
  right: 40px;
  top: 280px;
  bottom: auto;
}

.s_0007 .inner .inner_block .hero .left .game_img:nth-child(8) {
  right: 0;
  top: 500px;
  bottom: auto;
}

.s_0007 .inner .inner_block .hero .right {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
  height: 100%;
  width: 28vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s_0007 .inner .inner_block .hero .right .game_img:nth-child(1) {
  left: -60px;
  top: 650px;
  bottom: auto;
}

.s_0007 .inner .inner_block .hero .right .game_img:nth-child(2) {
  left: 300px;
  top: 250px;
  bottom: auto;
}

.s_0007 .inner .inner_block .hero .right .game_img:nth-child(3) {
  left: 300px;
  top: 500px;
  bottom: auto;
}

.s_0007 .inner .inner_block .hero .right .game_img:nth-child(4) {
  left: -40px;
  top: 100px;
  bottom: auto;
}

.s_0007 .inner .inner_block .hero .right .game_img:nth-child(5) {
  left: 250px;
  top: 580px;
  bottom: auto;
}

.s_0007 .inner .inner_block .hero .right .game_img:nth-child(6) {
  left: 180px;
  top: 120px;
  bottom: auto;
}

.s_0007 .inner .inner_block .hero .right .game_img:nth-child(7) {
  left: 40px;
  top: 280px;
  bottom: auto;
}

.s_0007 .inner .inner_block .hero .right .game_img:nth-child(8) {
  left: 0;
  top: 500px;
  bottom: auto;
}

.s_0007 .inner .inner_block .content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.s_0007 .inner .inner_block .content h2 {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 1;
  color: #fff;
}

.s_0007 .inner .inner_block .content p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: 20px;
}

.s_0007 .inner .inner_block .content .button_wrapper .btn {
  display: inline-block;
  font-size: 20px;
  margin: 15px 0;
  color: #2EBFFF;
}

.s_0007 .inner .inner_block .content .button_wrapper .btn::after {
  content: "➜";
  width: 40px;
  display: inline-block;
  text-align: left;
  padding: 0 10px;
}

@media screen and (max-width: 1200px) {
  .s_0007 .inner .inner_block .hero .left,
  .s_0007 .inner .inner_block .hero .right {
    width: 20%;
  }
}

@media screen and (max-width: 767px) {
  .s_0007 {
    padding-bottom: 5vw;
    padding-top: 10vw;
    overflow: hidden;
    min-height: auto;
  }
  .s_0007 .inner {
    overflow: visible;
  }
  .s_0007 .inner .inner_block .hero .right {
    display: none;
  }
  .s_0007 .inner .inner_block .hero {
    position: relative;
    min-height: 50vw;
  }
  .s_0007 .inner .inner_block .hero .left {
    position: static;
  }
  .s_0007 .inner .inner_block .hero .game_img:nth-child(1), .s_0007 .inner .inner_block .hero .game_img:nth-child(2), .s_0007 .inner .inner_block .hero .game_img:nth-child(3) {
    display: none;
  }
  .s_0007 .inner .inner_block .hero .game_img:nth-child(4) {
    display: none;
  }
  .s_0007 .inner .inner_block .hero .left .game_img:nth-child(5) {
    top: auto;
    bottom: 0;
    left: -5vw;
  }
  .s_0007 .inner .inner_block .hero .game_img:nth-child(5), .s_0007 .inner .inner_block .hero .game_img:nth-child(6) {
    width: 25vw;
    top: 3vw;
  }
  .s_0007 .inner .inner_block .hero .game_img:nth-child(7), .s_0007 .inner .inner_block .hero .game_img:nth-child(8) {
    top: 21vw;
    opacity: 0.8;
    width: 30vw;
  }
  .s_0007 .inner .inner_block .hero .left .game_img:nth-child(6) {
    top: 3vw;
    right: 0;
  }
  .s_0007 .inner .inner_block .hero .left .game_img:nth-child(7) {
    top: 21vw;
  }
  .s_0007 .inner .inner_block .hero .left .game_img:nth-child(8) {
    top: auto;
    bottom: 5vw;
    right: -15vw;
  }
  .s_0007 .inner .inner_block .content h2 {
    font-size: 25px;
    line-height: 1.2;
    text-transform: none;
    letter-spacing: normal;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .s_0007 .inner .inner_block .content p {
    font-size: 14px;
    width: 100%;
  }
  .s_0007 .inner .inner_block .content .button_wrapper .btn {
    font-size: 15px;
  }
}

.s_0008 {
  overflow: hidden;
}

.s_0008 header {
  background-color: #E2534E;
}

.s_0008 header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s_0008 header .inner .left .img_wrapper {
  padding: 20px 0;
}

.s_0008 header .inner .left .img_wrapper img {
  width: 101px;
  height: auto;
}

.s_0008 header .inner .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s_0008 header .inner .right nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s_0008 header .inner .right nav ul li a {
  cursor: pointer;
  font-family: 'Lato';
  font-weight: 700;
  display: inline-block;
  padding: 40px 15px;
  color: #fff;
  text-transform: uppercase;
}

.s_0008 header .inner .right .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s_0008 header .inner .right .links a {
  cursor: pointer;
  margin: 0 5px;
  font-size: 22px;
  color: #fff;
}

.s_0008 header .inner .right .hamburger {
  display: none;
}

.s_0008 .main_block {
  background-image: url(../img/s_0008_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.s_0008 .main_block .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-top: 20px;
}

.s_0008 .main_block .inner .left span {
  font-weight: 700;
  color: #ffffff;
  line-height: 22px;
  text-transform: uppercase;
}

.s_0008 .main_block .inner .left h2 {
  font-family: 'Lato';
  color: #ffffff;
  line-height: 60px;
  font-size: 78px;
  font-weight: 700;
  padding-bottom: 10px;
}

.s_0008 .main_block .inner .left p {
  color: #ffffff;
  line-height: 22px;
  font-size: 16px;
  padding-bottom: 25px;
}

.s_0008 .main_block .inner .left .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}

.s_0008 .main_block .inner .left .buttons .button_wrapper .btn {
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 25px;
  color: #fff;
  border-radius: 25px;
  border: 2px solid transparent;
}

.s_0008 .main_block .inner .left .buttons .button_wrapper .btn.btn_01 {
  background-color: #FB7970;
}

.s_0008 .main_block .inner .left .buttons .button_wrapper .btn.btn_02 {
  border: 2px solid #FB7970;
}

.s_0008 .main_block .inner .left .buttons .button_wrapper:first-child {
  margin-right: 15px;
}

.s_0008 .main_block .inner .left .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s_0008 .main_block .inner .left .items .item {
  margin: 5px;
}

.s_0008 .main_block .inner .left .items .item .text_box {
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
}

.s_0008 .main_block .inner .left .items .item .text_box::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #fff;
}

.s_0008 .main_block .inner .right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
  position: relative;
  margin-right: 150px;
  width: 440px;
  min-width: 0;
}

.s_0008 .main_block .inner .right .swiper-button-next, .s_0008 .main_block .inner .right .swiper-button-prev {
  top: 65%;
}

.s_0008 .main_block .inner .right .swiper-button-next::after, .s_0008 .main_block .inner .right .swiper-button-prev::after {
  color: #fff;
}

.s_0008 .main_block .inner .right .img_wrapper {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  z-index: 5;
  margin: 0 auto;
  bottom: 0;
}

.s_0008 .main_block .inner .right .img_wrapper img {
  width: 360px;
}

.s_0008 .main_block .inner .right .sl_slider {
  overflow: hidden;
  padding-top: 115px;
  position: relative;
  z-index: 1;
  width: 350px;
}

.s_0008 .main_block .inner .right .sl_slider .sl_slide {
  text-align: center;
}

.s_0008 .main_block .inner .right .sl_slider .sl_slide .img_box img {
  width: 312px;
}

.s_0008 .bottom {
  background-color: #242B32;
  color: #fff;
}

.s_0008 .bottom .inner {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s_0008 .bottom .inner .left h3 {
  padding-bottom: 10px;
}

.s_0008 .bottom .inner .left p {
  font-size: 13px;
}

.s_0008 .bottom .inner .right .button_wrapper {
  position: relative;
}

.s_0008 .bottom .inner .right .button_wrapper .btn {
  display: inline-block;
  background-color: #F4645A;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 10px 15px 10px 35px;
}

.s_0008 .bottom .inner .right .button_wrapper .btn::before {
  content: '';
  width: 17px;
  height: 15px;
  background: url(../img/icon/cloud-download.svg);
  position: absolute;
  z-index: 5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 10px;
}

@media screen and (max-width: 1200px) {
  .s_0008 {
    position: relative;
  }
  .s_0008 header .inner .right .hamburger {
    display: block;
    background-color: #f4645a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 38px;
    height: 34px;
    position: relative;
    top: 0;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    margin: 0 25px;
  }
  .s_0008 header .inner .right .hamburger::before,
  .s_0008 header .inner .right .hamburger::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #fff;
  }
  .s_0008 header .inner .right .hamburger span {
    width: 12px;
    height: 2px;
    background-color: #fff;
  }
  .s_0008 header .inner .right .hamburger::before {
    top: 10px;
  }
  .s_0008 header .inner .right .hamburger::after {
    bottom: 10px;
  }
  .s_0008 header .inner .right nav {
    position: absolute;
    right: -100%;
    top: 40px;
    width: 80%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .s_0008 header .inner .right nav.active {
    right: 10%;
  }
  .s_0008 header .inner .right nav ul li {
    background-color: #F4645A;
  }
  .s_0008 header .inner .right nav ul li a {
    padding: 15px 15px;
  }
  .s_0008 header .inner .right nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .s_0008 .main_block .inner .right {
    margin-right: 0;
    width: 380px;
  }
  .s_0008 .main_block .inner .right .img_wrapper img {
    width: 300px;
  }
  .s_0008 .main_block .inner .right .sl_slider .sl_slide .img_box img {
    width: 260px;
  }
  .s_0008 .main_block .inner .left span {
    font-size: 20px;
  }
  .s_0008 .main_block .inner .left h2 {
    font-size: 50px;
  }
  .s_0008 .main_block .inner .left p {
    font-size: 20px;
  }
  .s_0008 .main_block .inner .left {
    width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .s_0008 .main_block .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s_0008 .main_block .inner .right .img_wrapper img {
    width: 240px;
  }
  .s_0008 .main_block .inner .right .sl_slider .sl_slide .img_box {
    text-align: center;
    width: 210px;
    position: relative;
    left: 48%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .s_0008 .main_block .inner .right .sl_slider .sl_slide .img_box img {
    width: 100%;
    text-align: center;
  }
  .s_0008 .main_block .inner .right {
    width: 335px;
  }
  .s_0008 .bottom .inner {
    display: block;
  }
  .s_0008 .bottom .inner .right .button_wrapper {
    margin-top: 20px;
  }
}

.s_0009 {
  padding: 50px 0;
}

.s_0009 .inner .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s_0009 .inner .items .item {
  width: 300px;
  padding: 10px 0;
  margin: 10px;
}

.s_0009 .inner .items .item .top {
  padding-bottom: 20px;
}

.s_0009 .inner .items .item .top .img_wrapper {
  width: 300px;
  position: relative;
}

.s_0009 .inner .items .item .top .img_wrapper .buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8a6f7e;
  opacity: 0;
}

.s_0009 .inner .items .item .top .img_wrapper .buttons a {
  position: relative;
  top: 0;
  display: inline-block;
  color: #fff;
  padding: 9px 15px;
  font-size: 12px;
  margin: 5px;
  background-color: #252525;
  border-radius: 2px;
}

.s_0009 .inner .items .item .top .img_wrapper .buttons:hover {
  opacity: 0.9;
}

.s_0009 .inner .items .item .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s_0009 .inner .items .item .bottom .i_left h3 {
  font-size: 18px;
  line-height: 22px;
  color: #444;
  font-weight: 700;
}

.s_0009 .inner .items .item .bottom .i_left p {
  line-height: 22px;
  color: #888;
}

.s_0009 .inner .items .item .bottom .i_right {
  position: relative;
}

.s_0009 .inner .items .item .bottom .i_right .like {
  line-height: 12px;
  color: #888;
}

.s_0009 .inner .items .item .bottom .i_right .like::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -15px;
  background: url(../img/icon/heart.svg);
  width: 10px;
  height: 10px;
  z-index: 5;
}

.s_0010 {
  overflow: hidden;
  position: relative;
  padding: 100px 0;
  background-color: #5142EF;
  color: #fff;
}

.s_0010 .bg_image {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.s_0010 .bg_image img {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 65% auto;
  opacity: 1;
}

.s_0010 .bg_image.bg_img-01 {
  left: 50%;
  top: 50%;
  z-index: 1;
}

.s_0010 .bg_image.bg_img-01 img {
  background-size: -65% auto;
  background-position: 50% 0px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: .3;
}

.s_0010 .inner {
  position: relative;
  z-index: 2;
}

.s_0010 .inner span {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
}

.s_0010 .inner h3 {
  font-family: 'Lato';
  font-size: 42px;
  font-weight: 700;
  padding-bottom: 30px;
}

.s_0010 .inner .button_wrapper .btn {
  display: inline-block;
  color: #fff;
  border: 3px solid #fff;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .s_0010 .inner {
    text-align: center;
    z-index: 99;
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */