@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Light.woff2") format("woff2"), url("../fonts/Lato/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url("../fonts/Lato/Lato-HairlineItalic.woff2") format("woff2"), url("../fonts/Lato/Lato-HairlineItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Black.woff2") format("woff2"), url("../fonts/Lato/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-LightItalic.woff2") format("woff2"), url("../fonts/Lato/Lato-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url("../fonts/Lato/Lato-Hairline.woff2") format("woff2"), url("../fonts/Lato/Lato-Hairline.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-BlackItalic.woff2") format("woff2"), url("../fonts/Lato/Lato-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Open Sans';
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 770px;
  }
}

@media screen and (max-width: 990px) {
  .container {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 280px;
  }
}

.img_wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.s_0001 .inner {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s_0001 .inner .left {
  margin: 0 60px;
}

.s_0001 .inner .left .img_wrapper {
  width: 505px;
  height: 488px;
}

.s_0001 .inner .left .img_wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
}

.s_0001 .inner .right {
  margin: 0 60px;
  width: 415px;
}

.s_0001 .inner .right h2 {
  font-family: 'Lato';
  font-weight: bold;
  font-size: 42px;
  line-height: 60px;
  color: #303669;
  padding-bottom: 30px;
}

.s_0001 .inner .right p {
  font-size: 18px;
  line-height: 27px;
  color: #212529;
  padding-bottom: 50px;
}

.s_0001 .inner .right .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.s_0001 .inner .right .buttons .button_wrapper .btn {
  display: inline-block;
  cursor: pointer;
  border: 3px solid transparent;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;
  text-transform: uppercase;
  padding: 5px 20px;
  border-radius: 50px;
  color: #000;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}

.s_0001 .inner .right .buttons .button_wrapper .btn.btn_01 {
  background-color: #FF3E81;
  color: #fff;
}

.s_0001 .inner .right .buttons .button_wrapper .btn.btn_01:hover {
  background-color: transparent;
  border: 3px solid #FF3E81;
  color: #FF3E81;
}

.s_0001 .inner .right .buttons .button_wrapper .btn.btn_02 {
  border: 3px solid #000;
}

.s_0001 .inner .right .buttons .button_wrapper .btn.btn_02:hover {
  background-color: transparent;
  border: 3px solid #FF3E81;
  color: #FF3E81;
}

.s_0001 .inner .right .buttons .button_wrapper:first-child {
  margin-right: 30px;
}

@media screen and (max-width: 1200px) {
  .s_0001 .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s_0001 .inner .right {
    width: 100%;
    text-align: center;
  }
  .s_0001 .inner .left .img_wrapper {
    margin-bottom: 75px;
  }
  .s_0001 .inner .right .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .s_0001 .inner .right .buttons .button_wrapper:first-child {
    margin-right: 0;
  }
  .s_0001 .inner .right .buttons .button_wrapper .btn {
    margin: 0 30px;
  }
}

@media screen and (max-width: 990px) {
  .s_0001 .inner .right h2 {
    font-size: 35px;
  }
  .s_0001 .inner .right p {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .s_0001 .inner .right p {
    font-size: 16px;
  }
  .s_0001 .inner .left .img_wrapper {
    width: 400px;
    height: 235px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 280px;
  }
  .s_0001 .inner .left .img_wrapper {
    width: 280px;
    height: 226px;
  }
  .s_0001 .inner .right h2 {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 10px;
  }
  .s_0001 .inner .right p {
    max-width: 100%;
    font-size: 14px;
  }
  .s_0001 .inner .right .buttons .button_wrapper .btn {
    margin: 0px 5px;
    padding: 5px 15px;
    font-size: 10px;
  }
}

.s_0002 {
  background-color: #EEECE6;
}

.s_0002 .innner {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s_0002 .innner .left {
  margin: 0 15px;
  max-width: 475px;
}

.s_0002 .innner .left h2 {
  font-family: 'Lato';
  font-weight: bold;
  font-size: 48px;
  line-height: 63px;
  padding-bottom: 50px;
}

.s_0002 .innner .left p {
  font-size: 17px;
  line-height: 31px;
  color: #262626;
  padding-bottom: 30px;
}

.s_0002 .innner .left .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s_0002 .innner .left .buttons .button_wrapper .btn {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px 20px;
}

.s_0002 .innner .left .buttons .button_wrapper .btn.btn_01 {
  background-color: #ABA9A9;
  color: #fff;
}

.s_0002 .innner .left .buttons .button_wrapper .btn.btn_02 {
  border: 1px solid #000;
  color: #000;
}

.s_0002 .innner .left .buttons .button_wrapper:first-child {
  margin-right: 15px;
}

.s_0002 .innner .right {
  margin: 0 15px;
}

.s_0002 .innner .right .img_wrapper {
  width: 567px;
  height: 715px;
}

@media screen and (max-width: 1200px) {
  .s_0002 .innner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .s_0002 .innner .right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .s_0002 .innner .left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .s_0002 .innner .right .img_wrapper {
    margin-bottom: 30px;
  }
  .s_0002 .innner .left .buttons .button_wrapper:first-child {
    margin-right: 0;
  }
  .s_0002 .innner .left .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .s_0002 .innner .left .buttons .btn {
    margin: 0 15px;
  }
  .s_0002 .innner .left {
    max-width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 990px) {
  .s_0002 .innner .left h2 {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 30px;
  }
  .s_0002 .innner .right .img_wrapper {
    width: 402px;
    height: 507px;
  }
}

@media screen and (max-width: 767px) {
  .s_0002 .innner .right .img_wrapper {
    width: 275px;
    height: 348px;
  }
  .s_0002 .innner .left .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s_0002 .innner .left .buttons .button_wrapper:first-child {
    margin-bottom: 10px;
  }
  .s_0002 .innner .left .buttons .button_wrapper .btn {
    width: 100%;
  }
  .s_0002 .innner .left h2 {
    font-size: 22px;
    line-height: 35px;
    padding-bottom: 15px;
  }
  .s_0002 .innner .left p {
    font-size: 14px;
  }
  .s_0002 .innner {
    padding: 50px 0;
  }
}
/*# sourceMappingURL=style.css.map */